In [1]:
import pandas as pd
import re

1. Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [2]:
def is_vowel(string):
    string = string.lower()
    if len(string) == 1:
        return bool(re.search(r"^[aeiou]", string))
    else:
        return False
    
is_vowel("afgdfgdfgfdg")

False

2. Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [3]:
lower_string = "dgdfgdfgf"
upper_string = "ASDSDFSD"
mixed = "aJKBFdfkgnk"
alphnum = "asdsdfd1235"

In [4]:
# starts with a lowercase letter
# and only consists of lowercase letters numbers, or the _ character
# It should also be no longer than 32 characters

#starts with lowercase letter
r"^[a-z]"
#only lower case
r"[^A-Z]"

'[^A-Z]'

In [5]:
#only lower case
re.findall(r"[^A-Z]", mixed)

['a', 'd', 'f', 'k', 'g', 'n', 'k']

In [6]:
len(mixed) == len(re.findall(r"[^A-Z]", mixed))

False

In [7]:
len(lower_string) == len(re.findall(r"[^A-Z]", lower_string))

True

In [8]:
len(upper_string) == len(re.findall(r"[^A-Z]", upper_string))

False

In [9]:
#starts with lowercase letter
if bool(re.match(r"^[a-z]", lower_string)) == True:
    print("next step")
else:
    print("false")

next step

In [25]:
def is_valid_username(string):
    return bool(re.search(r"^[a-z][a-z0-9_]{,31}$", string))

In [26]:
assert is_valid_username("jane_janeway76") == True
assert is_valid_username("bob_bobberson") == True
assert is_valid_username("Robert') DROP TABLE Students;--") == False
assert is_valid_username("quincy__!") == False

In [27]:
is_valid_username(upper_string)

False

In [28]:
is_valid_username(lower_string)

True

In [29]:
is_valid_username(mixed)

False

In [30]:
is_valid_username(alphnum)

True

3. Write a regular expression to capture phone numbers. It should match all of the following:

- (210) 867 5309
- +1 210.867.5309
- 867-5309
- 210-867-5309

In [41]:
numbers = [
    '(210) 867 5309',
    '+1 210.867.5309',
    '867-5309',
    '210-867-5309']

In [36]:
phone_num_regex = re.compile(r'''
^
(?P<country_code>\+\d+)?
\D*?
(?P<area_code>\d{3})?
\D*?
(?P<exchange_code>\d{3})
\D*?
(?P<line_number>\d{4})
\D*
$
''', re.VERBOSE)

In [42]:
# Iterate through the list of strings, producing a dictionary containing named groups from each string
phone_numbers = [re.search(phone_num_regex, number).groupdict() for number in numbers]

In [43]:
phone_numbers

[{'country_code': None,
  'area_code': '210',
  'exchange_code': '867',
  'line_number': '5309'},
 {'country_code': '+1',
  'area_code': '210',
  'exchange_code': '867',
  'line_number': '5309'},
 {'country_code': None,
  'area_code': None,
  'exchange_code': '867',
  'line_number': '5309'},
 {'country_code': None,
  'area_code': '210',
  'exchange_code': '867',
  'line_number': '5309'}]

In [46]:
df = pd.DataFrame(phone_numbers)
df

  country_code area_code exchange_code line_number
0         None       210           867        5309
1           +1       210           867        5309
2         None      None           867        5309
3         None       210           867        5309

4. Use regular expressions to convert the dates below to the standardized year-month-day format
- 02/04/19
- 02/05/19
- 02/06/19
- 02/07/19
- 02/08/19
- 02/09/19
- 02/10/19

In [47]:
# Convert the dates below to the standardized year-month-day format.
dates = [
    '02/04/19',
    '02/05/19',
    '02/06/19',
    '02/07/19',
    '02/08/19',
    '02/09/19',
    '02/10/19',
]

dates = [re.sub(r'(\d+)/(\d+)/(\d+)', r'20\3-\1-\2', date) for date in dates]
dates

['2019-02-04',
 '2019-02-05',
 '2019-02-06',
 '2019-02-07',
 '2019-02-08',
 '2019-02-09',
 '2019-02-10']